# Data 
data/
############
.cache/
.ssh/
.vscode/
.vscode-server/
.bash_history
.python_history
.config/
.ipython/
src/__pycache__
src/features/__pycache__/
.gitmessage.txt
.gitconfig
.DS_Store
.gnupg
src/features/preprocess/__pycache__/
.keras
src/features/convert/__pycache__/
src/features/__pycache__/__init__.cpython-39.pyc
predictions/
predictions/sample_submission_nn.csv
predictions/sample_submission_xgb.csv
predictions/sample_submission.csv
